@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PollingApp.Entities.AccountRequest

@await Html.PartialAsync("_navigation")

<h1>Update Account Request</h1>
<div class="updateAccountRequestWrapper">
    
    <form action="/account/updateaccountrequest" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" value="@Model.Email" required />
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" value="@Model.UserName" required />
        </div>
        <div>
            <label for="complete">Account Created</label>
            @Html.EditorFor(x => x.Complete)
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
        @Html.AntiForgeryToken()
    </form>
</div>
